# 忽略 Python 缓存
__pycache__/
*.pyc

# 忽略虚拟环境 (太大，别人可以自己装)
venv/

# 💡 忽略敏感配置文件 (这是你的隐私！)
config.py

# 忽略抓下来的原始数据 (这属于数据资产，通常不传代码库)
data/

# 忽略 SQLite 数据库文件
*.db

# (可选) 如果你想展示分析图表，就不要忽略 output，否则就把下面这行加上
# output/